ul.available li.av {
    font-size: 90%;
    color: #000;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: .2em;
}

div.message {
    display: block;
}

div.title {
    display: inline-block;
}

#view-template-dialog .button-panel{
    position: relative;
}